/*  */
.home {
  width: 60%;
  min-width: 420px;
  column-count: 2;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}
.home_container {
  width: 400px;
  height: 300px;
  border: 1px solid wheat;
  box-shadow: 1px;
  object-fit: contain;
  box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 0.1s ease-in;
  margin: 30px;
  margin: auto;
  padding: auto;
}
.home_container_left {
  border: white;
  text-align: left;
  padding: 15px;
  z-index: 1;
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
}
.home_container_likes {
  display: flex;
  padding-bottom: 15px;
  padding-left: 20px;
}
/*  */
